openapi: 3.0.1
info:
  title: Text-to-Speech API (Deprecated)
  description: |
    Deprecated API endpoints for Waves text-to-speech models.
    These lightning large and lightning models are no longer recommended for new integrations.

    Please use Lightning v2 or Lightning v3.1 instead.
  version: 1.0.0
servers:
  - url: https://waves-api.smallest.ai
    description: Waves API server

paths:
  /api/v1/lightning/get_speech:
    post:
      tags:
        - Lightning (Deprecated)
      operationId: synthesizeLightningSpeech
      summary: Generate speech from text (Lightning)
      description: Converts provided text to speech using the Lightning model.
      deprecated: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LightningRequest"
      responses:
        "200":
          description: Synthesized speech retrieved successfully.
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: A PCM int16 WAV file at the specified sample rate.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "InvalidRequest"
                message: "The 'text' field is required."
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "Unauthorized"
                message: "Bearer token is missing or invalid."
        "500":
          description: Server error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "InternalServerError"
                message: "An unexpected error occurred."

  /api/v1/lightning-large/get_speech:
    post:
      tags:
        - Lightning Large (Deprecated)
      operationId: synthesizeLightningLargeSpeech
      summary: Generate speech from text (Lightning Large)
      description: Converts provided text to speech using the Lightning Large model.
      deprecated: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LightningLargeRequest"
      responses:
        "200":
          description: Synthesized speech retrieved successfully.
          content:
            audio/wav:
              schema:
                type: string
                format: binary
                description: A PCM int16 WAV file at the specified sample rate.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "InvalidRequest"
                message: "The 'text' field is required."
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "Unauthorized"
                message: "Bearer token is missing or invalid."
        "500":
          description: Server error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "InternalServerError"
                message: "An unexpected error occurred."

  /api/v1/lightning-large/stream:
    post:
      tags:
        - Lightning Large (Deprecated)
      operationId: streamLightningLargeSpeech
      summary: Stream speech from text (Lightning Large)
      description: Converts provided text to speech using the Lightning Large model with streaming response.
      deprecated: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LightningLargeRequest"
      responses:
        "200":
          description: Synthesized speech retrieved successfully.
          content:
            text/event-stream:
              example:
                data: |
                  event: chunk
                  data: <WAV_DATA>
                  done: false
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "InvalidRequest"
                message: "The 'text' field is required."
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "Unauthorized"
                message: "Bearer token is missing or invalid."
        "500":
          description: Server error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: "InternalServerError"
                message: "An unexpected error occurred."

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type.
        message:
          type: string
          description: Error message.

    LightningRequest:
      type: object
      required:
        - text
        - voice_id
      properties:
        text:
          type: string
          description: The text to convert to speech.
        voice_id:
          type: string
          description: The voice identifier to use for speech generation.
        sample_rate:
          type: integer
          description: The sample rate for the generated audio.
          minimum: 8000
          maximum: 24000
          default: 24000
        speed:
          type: number
          description: The speed of the generated speech.
          minimum: 0.5
          maximum: 2.0
          default: 1.0
        language:
          type: string
          description: Language code for text normalization (e.g., how numbers, dates, and abbreviations are spelled out). Set to 'auto' for automatic language detection, or specify a language code like 'en' or 'hi'.
          default: "auto"
          enum:
            - auto
            - en
            - hi
        output_format:
          type: string
          description: The format of the output audio.
          default: "pcm"
          enum:
            - pcm
            - mp3
            - wav
            - mulaw

    LightningLargeRequest:
      type: object
      required:
        - text
        - voice_id
      properties:
        text:
          type: string
          description: The text to convert to speech.
        voice_id:
          type: string
          description: The voice identifier to use for speech generation.
        sample_rate:
          type: integer
          description: The sample rate for the generated audio.
          minimum: 8000
          maximum: 24000
          default: 24000
        speed:
          type: number
          description: The speed of the generated speech.
          minimum: 0.5
          maximum: 2.0
          default: 1.0
        consistency:
          type: number
          description: This parameter controls word repetition and skipping. Decrease it to prevent skipped words, and increase it to prevent repetition.
          minimum: 0.0
          maximum: 1.0
          default: 0.5
        similarity:
          type: number
          description: This parameter controls the similarity between the generated speech and the reference audio. Increase it to make the speech more similar to the reference audio.
          minimum: 0.0
          maximum: 1.0
          default: 0.0
        enhancement:
          type: number
          description: Enhances speech quality at the cost of increased latency.
          minimum: 0
          maximum: 2
          default: 1
        language:
          type: string
          description: Language code for text normalization (e.g., how numbers, dates, and abbreviations are spelled out). Set to 'auto' for automatic language detection, or specify a language code like 'en' or 'hi'.
          default: "auto"
          enum:
            - auto
            - en
            - hi
        output_format:
          type: string
          description: The format of the output audio.
          default: "pcm"
          enum:
            - pcm
            - mp3
            - wav
            - mulaw
        pronunciation_dicts:
          type: array
          items:
            type: string
            description: The ID of the pronunciation dictionary to use for speech generation.
          description: The IDs of the pronunciation dictionaries to use for speech generation.

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication header of the form `Bearer <api_key>`, where <api_key> is your api key.

