openapi: 3.0.1
info:
  title: Voices API
  description: |
    API for managing voices in Waves.
    Get available voices, clone voices, and manage your voice library.
  version: 1.0.0
servers:
  - url: https://waves-api.smallest.ai
    description: Waves API server

paths:
  /api/v1/{model}/get_voices:
    get:
      tags:
        - Voices
      summary: Get Voices
      description: Fetch voices for a given model.
      operationId: getWavesVoices
      parameters:
        - in: path
          name: model
          required: true
          schema:
            type: string
            enum: [lightning-v2, lightning-v3.1]
          description: The model to use for speech synthesis.
      responses:
        '200':
          description: Voices retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    description: List of available voices.
                    items:
                      type: object
                      required:
                        - voiceId
                        - displayName
                      properties:
                        voiceId:
                          type: string
                          description: Unique Voice ID.
                        displayName:
                          type: string
                          description: Display name for the voice.
                        tags:
                          type: object
                          description: List of tags associated with the voice.
                          properties:
                            language:
                              type: array
                              description: Language of the voice.
                              items:
                                type: string
                            accent:
                              type: string
                              description: Accent of the voice.
                            gender:
                              type: string
                              description: Gender of the voice.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '500':
          description: Server error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /api/v1/lightning-large/get_cloned_voices:
    get:
      tags:
        - Voice Cloning
      summary: Get Cloned Voices
      description: Fetch your cloned voices.
      operationId: getClonedVoices
      responses:
        '200':
          description: Voices retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    description: List of available voices.
                    items:
                      type: object
                      required:
                        - voiceId
                        - displayName
                      properties:
                        displayName:
                          type: string
                          description: Display name for the voice.
                        accent:
                          type: string
                          description: Accent of the voice.
                        tags:
                          type: array
                          description: List of tags associated with the voice.
                          items:
                            type: string
                        voiceId:
                          type: string
                          description: Unique Voice ID.
                        model:
                          type: string
                          description: Model used to generate the voice.
                        status:
                          type: string
                          description: Status of the voice generation.
                        createdAt:
                          type: string
                          format: date-time
                          description: Date and time the voice was created.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '500':
          description: Server error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /api/v1/lightning-large/add_voice:
    post:
      tags:
        - Voice Cloning
      summary: Add a new voice to the model
      description: Instantly clone a voice by uploading an audio file for the specified model.
      operationId: addVoiceToModel
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: Display name for the voice clone.
                file:
                  type: string
                  format: binary
                  description: Audio file to create voice clone from.
              required:
                - displayName
                - file
      responses:
        '200':
          description: Voice clone created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Message if the voice clone was created successfully.
                  data:
                    type: object
                    properties:
                      voiceId:
                        type: string
                        description: Unique Voice ID.
                      model:
                        type: string
                        description: Model used to generate the voice.
                      status:
                        type: string
                        description: Status of the voice creation.
                    required:
                      - voiceId
                      - model
                      - status
        '400':
          description: Bad request or limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '500':
          description: Server error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/lightning-large:
    delete:
      tags:
        - Voice Cloning
      summary: Delete a voice clone
      description: Deletes a voice clone associated with the authenticated user.
      operationId: deleteVoiceClone
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                voiceId:
                  type: string
                  description: The unique identifier of the voice clone to delete.
              required:
                - voiceId
      responses:
        '200':
          description: Voice clone deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - voiceId
                properties:
                  success:
                    type: boolean
                    description: Status if the voice clone was deleted successfully.
                  voiceId:
                    type: string
                    description: Voice ID of the deleted voice clone.
        '400':
          description: Bad request (Invalid voice ID or validation error)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '500':
          description: Server error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type
        message:
          type: string
          description: Error message

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication header of the form `Bearer <api_key>`, where <api_key> is your api key.

